img{
	width: 1000px;
}

.dacdiemchung {
	border: 2px solid #dddddd;
	width: 750px;
	border-color: blue;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	margin-left: 250px;
	background-color: #80c1ff;
}

.khihau {
	border: 2px solid #dddddd;
	border-color: red;
	width:750px;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	margin-left: 250px;
	background-color: #ff8080;
}

.sinhhoc {
	border: 2px solid #dddddd;
	width: 750px;
	border-color: green;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	margin-left: 250px;
	background-color: #99ff99;
}

