* {
	box-sizing: border-box;
}

#menu {
	float: left;
	font-size: 25px;
}

h1 {
	color: red;
	font-size: 50px;
}

h2 {
	font-size: 40px;

}

.box img {
	width: 400px;
	height: 400px;
}

.box img:hover {
	border-radius: 50%;
}

.box {
	padding: 10px;
	margin-right: 5px;
	float: left;
	border: 2px solid #dddddd;
	border-color: grey;
	border-top-width: 10px;
}

.wrap {
	max-width: 1000px;
	margin: auto;
}
