*{
	box-sizing: border-box;
}

.calculator{
	border: 5px solid #ccccb3;
	background-color: #99ccff;
	width: 390px;
	height: 600px;
}

#number {
	height: 60px;
	width: 355px;
	margin-top: 10px;
	margin-left: 12px; 
	float: left;
	font-size: 50px;
	background-color: white;
	text-align: right;
}

#buttonback {
	background-color: #999966;
}
.btnButton {
	float: left;
}

.pad2 {
	float: left;
	margin-top: 10px;
}

.detail {
	background-color: yellow;
}

.button {
	height: 80px;
	width: 80px;
	margin-left: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10%;
	font-size: 20px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}



#equal {
	background-color: #ff6666;
}


.wrap {
	max-width: 1000px;
	margin: auto;
}